img {
  border: none;
}

html {
  margin: 0px;
  padding: 0px;
}

body {
  min-width: 940px;
  width: 100%;
  margin: 0px;
  padding: 0px;
  line-height: 1.2;
  font-weight: 400;
  font-size: 14px;
  color: #000;
  background: url(../images/allbg.gif) repeat top left;
  font-family: Arial,Helvetica,sans-serif;
}

form {
  margin: 0px;
  padding: 0px;
}

input[type=submit] {
  -webkit-appearance: none;
}

.clear {
  clear: both;
  display: block;
  width: 0;
  height: 0;
}

#header .top-head {
  position: relative;
  width: 100%;
  background: url(../images/thbg.png) repeat top left;
}

#header .top-head .th-wrapp {
  width: 940px;
  margin: auto;
  position: relative;
  height: 44px;
  color: #fff;
  font-weight: 900;
  font-size: 10px;
  text-transform: uppercase;
}

#header .top-head .th-wrapp .lang {
  position: absolute;
  top: 13px;
  left: 0;
}

#header .top-head .th-wrapp .lang .text {
  float: left;
  margin-right: 7px;
  margin-top: 3px;
  letter-spacing: 1.5px;
}

#header .top-head .th-wrapp .lang .rus {
  float: left;
}

#header .top-head .th-wrapp .lang .rus a.r-link {
  display: block;
  width: 27px;
  height: 18px;
  background: url(../images/rus.jpg) no-repeat center center;
  margin-right: 6px;
}

#header .top-head .th-wrapp .lang .eng {
  float: left;
}

#header .top-head .th-wrapp .lang .eng a.e-link {
  display: block;
  width: 27px;
  height: 18px;
  background: url(../images/eng.jpg) no-repeat center center;
  opacity: 0.4;
  filter: alpha(opacity=40);
}

#header .top-head .th-wrapp .lang .eng a.e-link:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}

#header .top-head .th-wrapp .phone {
  position: absolute;
  top: 16px;
  left: 187px;
  padding-left: 20px;
  background: url(../images/phone.png) no-repeat center left;
  letter-spacing: 1.5px;
}

#header .top-head .th-wrapp .adress {
  position: absolute;
  top: 16px;
  left: 320px;
  padding-left: 17px;
  background: url(../images/marker.png) no-repeat center left;
  letter-spacing: 1.5px;
}

#header .top-head .th-wrapp .hunting {
  position: absolute;
  top: 11px;
  right: 0;
}

#header .top-head .th-wrapp .hunting .h-text {
  float: left;
  margin-top: 5px;
  margin-right: 18px;
  letter-spacing: 1.5px;
}

#header .top-head .th-wrapp .hunting .h-img {
  float: left;
}

#header .top-head .th-wrapp .hunting .h-img img {
  display: block;
}

#header .info .i-wrapp {
  width: 940px;
  margin: auto;
  position: relative;
  height: 111px;
}

#header .info .i-wrapp .logo {
  position: absolute;
  top: 35px;
  left: 0;
}

#header .info .i-wrapp .search {
  position: absolute;
  top: 44px;
  right: 218px;
}

#header .info .i-wrapp .search .s-form {
  width: 342px;
  height: 29px;
}

#header .info .i-wrapp .search .s-form input[type=text] {
  background: url(../images/search-bg.png) repeat-x center bottom;
  display: block;
  position: absolute;
  width: 329px;
  height: 23px;
  border: none;
  outline: none;
  font-weight: 900;
  font-size: 10px;
  text-transform: uppercase;
  color: #b1b1b1;
  padding: 0 12px 0 0;
  letter-spacing: 0.6px;
}

#header .info .i-wrapp .search .s-form input[type=submit] {
  display: block;
  position: absolute;
  width: 12px;
  height: 12px;
  background: url(../images/search.png) no-repeat center center;
  border: none;
  outline: none;
  right: 1px;
  top: 5px;
  cursor: pointer;
}

#header .info .i-wrapp .account {
  position: absolute;
  top: 46px;
  right: 0;
}

#header .info .i-wrapp .account a {
  color: #ffd200;
  text-decoration: none;
  border-bottom: 1px dotted #ffd200;
  font-weight: 900;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
}

#header .info .i-wrapp .account a:hover {
  border-bottom: none;
}

#header .info .i-wrapp .account span.sep {
  color: #828282;
  padding: 0 13px;
  font-size: 10px;
}

#header .menu .m-wrapp {
  width: 940px;
  margin: auto;
  position: relative;
  height: 51px;
  background: #414141;
}

#header .menu .m-wrapp ul.mw-list {
  margin: 0;
  padding: 0 0 0 36px;
  list-style: none;
}

#header .menu .m-wrapp ul.mw-list li.mw-item {
  float: left;
  padding: 19px;
  margin-right: 17px;
}

#header .menu .m-wrapp ul.mw-list li.mw-item a.mw-link {
  display: block;
  color: #e2e2e2;
  font-weight: 900;
  font-size: 10px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1.5px;
}

#header .menu .m-wrapp ul.mw-list li.mw-item.last {
  margin-right: 0;
  padding-right: 0;
  padding-left: 29px;
}

#header .menu .m-wrapp ul.mw-list li.mw-item.last img {
  float: left;
  margin-right: 13px;
}

#header .menu .m-wrapp ul.mw-list li.mw-item.last a.mw-link {
  float: left;
  color: #ffd200;
  border-bottom: 1px dotted #ffd200;
  padding-bottom: 1px;
}

#header .menu .m-wrapp ul.mw-list li.mw-item.last a.mw-link:hover {
  border-bottom: none;
}

#slider {
  margin-bottom: 70px;
}

#slider .bx-wrapper {
  width: 940px;
  margin: auto;
  height: 350px;
  position: relative;
  padding: 0px;
}

#slider .bx-wrapper .bx-viewport {
  width: 100%;
  height: 350px;
  overflow: hidden;
  position: absolute !important;
}

#slider .bx-wrapper .bx-viewport ul.slider-list {
  margin: 0px;
  padding: 0px;
  list-style: outside none none;
  width: auto;
  height: 350px;
  position: absolute;
}

#slider .bx-wrapper .bx-viewport ul.slider-list li.slider-item {
  height: 350px;
}

#slider .bx-wrapper .bx-controls {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
}

#slider .bx-wrapper .bx-controls .bx-pager {
  bottom: 51px;
  position: absolute;
  right: 53px;
}

#slider .bx-wrapper .bx-controls .bx-pager .bx-pager-item {
  display: inline-block;
}

#slider .bx-wrapper .bx-controls .bx-pager .bx-pager-item .bx-pager-link {
  background: #fff;
  display: block;
  width: 9px;
  height: 9px;
  margin: 6.5px;
  outline: none;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  behavior: url(PIE.htc);
  opacity: 0.4;
  filter: alpha(opacity=40);
  z-index: 1;
  position: relative;
  text-indent: -9999px;
}

#slider .bx-wrapper .bx-controls .bx-pager .bx-pager-item .bx-pager-link.active {
  opacity: 1;
  filter: alpha(opacity=100);
}

#partners {
  margin-bottom: 76px;
}

#partners .p-wrapp {
  width: 940px;
  margin: auto;
}

#partners .p-wrapp .pw-head {
  text-align: center;
  color: #fff;
  font-weight: 900;
  font-size: 27px;
  margin-bottom: 52px;
}

#partners .p-wrapp ul.pw-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

#partners .p-wrapp ul.pw-list li.pw-item {
  float: left;
  margin-right: 20px;
}

#partners .p-wrapp ul.pw-list li.pw-item.last {
  margin-right: 0;
}

#partners .p-wrapp ul.pw-list.one {
  margin-bottom: 40px;
}

#news .n-wrapp {
  width: 940px;
  margin: auto;
}

#news .n-wrapp .nw-head {
  text-align: center;
  color: #fff;
  font-weight: 900;
  font-size: 27px;
  margin-bottom: 53px;
}

#news .n-wrapp ul.nw-list {
  margin: 0 0 51px 0;
  padding: 0;
  list-style: none;
}

#news .n-wrapp ul.nw-list li.nw-item {
  float: left;
  margin-right: 20px;
  width: 300px;
}

#news .n-wrapp ul.nw-list li.nw-item.last {
  margin-right: 0;
}

#news .n-wrapp ul.nw-list li.nw-item .img {
  margin-bottom: 28px;
}

#news .n-wrapp ul.nw-list li.nw-item .img a {
  display: block;
}

#news .n-wrapp ul.nw-list li.nw-item .img a img {
  display: block;
}

#news .n-wrapp ul.nw-list li.nw-item .info .date {
  color: #fff;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 0.9px;
  margin-bottom: 15px;
}

#news .n-wrapp ul.nw-list li.nw-item .info .anons a {
  color: #fff;
  font-weight: 900;
  font-size: 14px;
  line-height: 1.7;
  margin-bottom: 2px;
  text-decoration: none;
}

#news .n-wrapp ul.nw-list li.nw-item .info .text {
  color: #b1b1b1;
  font-size: 14px;
  line-height: 1.6;
  height: 65px;
  overflow: hidden;
}

#news .n-wrapp ul.nw-list li.nw-item .info .text span.dott {
  color: #ffd200;
}

#news .n-wrapp a.all-news {
  color: #b1b1b1;
  text-decoration: none;
  font-weight: 900;
  font-size: 14px;
  border: 2px solid #b1b1b1;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  behavior: url(PIE.htc);
  width: 120px;
  margin: auto;
  display: block;
  text-decoration: none;
  text-align: center;
  padding: 8px 10px 11px 8px;
  margin-bottom: 65px;
}

#footer {
  position: relative;
  width: 100%;
  background: url(../images/thbg.png) repeat top left;
}

#footer .f-wrapp {
  position: relative;
  width: 940px;
  height: 133px;
  margin: auto;
}

#footer .f-wrapp .info {
  position: absolute;
  color: #fff;
  text-decoration: none;
  font-weight: 900;
  font-size: 14px;
  top: 43px;
  line-height: 1.7;
}

#footer .f-wrapp .info span {
  color: #b1b1b1;
  display: block;
  letter-spacing: -0.4px;
}

#footer .f-wrapp .info.mail {
  left: 0;
}

#footer .f-wrapp .info.fax {
  left: 217px;
}

#footer .f-wrapp .info.wholesale {
  left: 387px;
}

#footer .f-wrapp .info.retail {
  left: 550px;
}

#footer .f-wrapp .socials {
  right: 0;
  position: absolute;
  top: 49px;
}

#footer .f-wrapp .socials ul.soc-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

#footer .f-wrapp .socials ul.soc-list li.soc-item {
  float: left;
  margin-right: 19px;
}

#footer .f-wrapp .socials ul.soc-list li.soc-item a {
  width: 35px;
  height: 35px;
  display: block;
}

#footer .f-wrapp .socials ul.soc-list li.soc-item a:hover {
  background-position: center top !important;
}

#footer .f-wrapp .socials ul.soc-list li.soc-item.last {
  margin-right: 0;
}
