$min-width: 940px;
@mixin border-radius($radius){
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
	behavior: url(PIE.htc);
}
@mixin filter($filter){
	-webkit-filter: blur($filter);
	-moz-filter: blur($filter);
	-ms-filter: blur($filter);
	-o-filter: blur($filter);
	filter: blur($filter);
}
@mixin opacity($opacity) {
  opacity: $opacity;
  filter: alpha(opacity=($opacity * 100)); //IE
}
img{
	border: none;
}
html{
	margin: 0px;
	padding: 0px;
}
body{
	min-width: $min-width;
	width: 100%;
	margin: 0px;
	padding: 0px;
	line-height: 1.2;
	font:{
		weight: 400;
		size: 14px;
	}
	color: #000;
	background: url(../images/allbg.gif) repeat top left;
	font-family: Arial,Helvetica,sans-serif;
}
form{
	margin: 0px;
	padding: 0px;
}
input[type=submit]{
	-webkit-appearance: none;
}
.clear{
	clear: both;
	display: block;
	width: 0;
	height: 0;
}
#wrapper{}
#header{
	.top-head{
		position: relative;
		width: 100%;
		background: url(../images/thbg.png) repeat top left;
		.th-wrapp{
			width: $min-width;
			margin: auto;
			position: relative;
			height: 44px;
			color: #fff;
			font:{
				weight: 900;
				size: 10px;
			}
			text-transform: uppercase;
			.lang{
				position: absolute;
				top: 13px;
				left: 0;
				.text{
					float: left;
					margin-right: 7px;
					margin-top: 3px;
					letter-spacing: 1.5px;
				}
				.rus{
					float: left;
					a.r-link{
						display: block;
						width: 27px;
						height: 18px;
						background: url(../images/rus.jpg) no-repeat center center;
						margin-right: 6px;
					}
				}
				.eng{
					float: left;
					a.e-link{
						display: block;
						width: 27px;
						height: 18px;
						background: url(../images/eng.jpg) no-repeat center center;
						@include opacity(.4);
						&:hover{
							@include opacity(1);
						}
					}
				}
			}
			.phone{
				position: absolute;
				top: 16px;
				left: 187px;
				padding-left: 20px;
				background: url(../images/phone.png) no-repeat center left;
				letter-spacing: 1.5px;
			}
			.adress{
				position: absolute;
				top: 16px;
				left: 320px;
				padding-left: 17px;
				background: url(../images/marker.png) no-repeat center left;
				letter-spacing: 1.5px;
			}
			.hunting{
				position: absolute;
				top: 11px;
				right: 0;
				.h-text{
					float: left;
					margin-top: 5px;
					margin-right: 18px;
					letter-spacing: 1.5px;
				}
				.h-img{
					float: left;
					img{
						display: block;
					}
				}
			}
		}
	}
	.info{
		.i-wrapp{
			width: $min-width;
			margin: auto;
			position: relative;
			height: 111px;
			.logo{
				position: absolute;
				top: 35px;
				left: 0;
			}
			.search{
				position: absolute;
				top: 44px;
				right: 218px;
				.s-form{
					width: 342px;
					height: 29px;
					input[type=text]{
						background: url(../images/search-bg.png) repeat-x center bottom;
						display: block;
						position: absolute;
						width: 329px;
						height: 23px;
						border: none;
						outline: none;
						font:{
							weight: 900;
							size: 10px;
						}
						text-transform: uppercase;
						color: #b1b1b1;
						padding: 0 12px 0 0;
						letter-spacing: 0.6px;
					}
					input[type=submit]{
						display: block;
						position: absolute;
						width: 12px;
						height: 12px;
						background: url(../images/search.png) no-repeat center center;
						border:  none;
						outline:  none;
						right: 1px;
						top: 5px;
						cursor: pointer;
					}
				}
			}
			.account{
				position: absolute;
				top: 46px;
				right: 0;
				a{
					color: #ffd200;
					text-decoration: none;
					border-bottom: 1px dotted #ffd200;
					font:{
						weight: 900;
						size: 10px;
					}
					text-transform: uppercase;
					letter-spacing: 1.3px;
					&:hover{
						border-bottom: none;
					}
				}
				span.sep{
					color: #828282;
					padding: 0 13px;
					font-size: 10px;
				}
			}
		}
	}
	.menu{
		.m-wrapp{
			width: $min-width;
			margin: auto;
			position: relative;
			height: 51px;
			background: #414141;
			ul.mw-list{
				margin: 0;
				padding: 0 0 0 36px;
				list-style: none;
				li.mw-item{
					float: left;
					padding: 19px;
					margin-right: 17px;
					a.mw-link{
						display: block;
						color: #e2e2e2;
						font:{
							weight: 900;
							size: 10px;
						}
						text-transform: uppercase;
						text-decoration: none;
						letter-spacing: 1.5px;
					}
					&.last{
							margin-right: 0;
							padding-right: 0;
							padding-left: 29px;
							img{
								float: left;
								margin-right: 13px;
							}
							a.mw-link{
								float: left;
								color: #ffd200;
								border-bottom: 1px dotted #ffd200;
								padding-bottom: 1px;
								&:hover{
									border-bottom: none;
								}
							}
						}
				}
			}
		}
	}
}
#slider{
	margin-bottom: 70px;
	.bx-wrapper{
		width: $min-width;
		margin: auto;
		height: 350px;
		position: relative;
		padding: 0px;
		.bx-viewport {
			width: 100%;
			height: 350px;
			overflow: hidden;
			position: absolute !important;
			ul.slider-list{
				margin: 0px;
				padding: 0px;
				list-style: outside none none;
				width: auto;
				height: 350px;
				position: absolute;
				li.slider-item{
					height: 350px;
				}
			}
		}
		.bx-controls{
			position: absolute;
			bottom: 0;
			left: 0;
			z-index: 100;
			width: 100%;
			height: 100%;
			.bx-pager{
				bottom: 51px;
				position: absolute;
				right: 53px;
				.bx-pager-item{
					display: inline-block;
					.bx-pager-link{
						background: #fff;
						display: block;
						width: 9px;
						height: 9px;
						margin:  6.5px;
						outline: none;
						@include border-radius(50%);
						@include opacity(.4);
						z-index: 1;
						position: relative;
						text-indent: -9999px;
						&.active{
							@include opacity(1);
						}
					}
				}
			}
		}
	}
}
#partners{
	margin-bottom: 76px;
	.p-wrapp{
		width: $min-width;
		margin: auto;
		.pw-head{
			text-align: center;
			color: #fff;
			font:{
				weight: 900;
				size: 27px;
			}
			margin-bottom: 52px;
		}
		ul.pw-list{
			margin: 0;
			padding: 0;
			list-style: none;
			li.pw-item{
				float: left;
				margin-right: 20px;
				&.last{
					margin-right: 0;
				}
			}
			&.one{
				margin-bottom: 40px;
			}
		}
	}
}
#news{
	.n-wrapp{
		width: $min-width;
		margin: auto;
		.nw-head{
			text-align: center;
			color: #fff;
			font:{
				weight: 900;
				size: 27px;
			}
			margin-bottom: 53px;
		}
		ul.nw-list{
			margin: 0 0 51px 0;
			padding: 0;
			list-style: none;
			li.nw-item{
				float: left;
				margin-right: 20px;
				width: 300px;
				&.last{
					margin-right: 0;
				}
				.img{
					margin-bottom: 28px;
					a{
						display: block;
						img{
							display: block;
						}
					}
				}
				.info{
					.date{
						color: #fff;
						font:{
							size: 10px;
						}
						text-transform: uppercase;
						letter-spacing: 0.9px;
						margin-bottom: 15px;
					}
					.anons a{
						color: #fff;
						font:{
							weight: 900;
							size: 14px;
						}
						line-height: 1.7;
						margin-bottom: 2px;
						text-decoration: none;
					}
					.text{
						color: #b1b1b1;
						font:{
							size: 14px;
						}
						line-height: 1.6;
						height: 65px;
						overflow: hidden;
						span.dott{
							color: #ffd200;
						}
					}
				}
			}
		}
		a.all-news{
			color: #b1b1b1;
			text-decoration: none;
			font:{
				weight: 900;
				size: 14px;
			}
			border: 2px solid #b1b1b1;
			@include border-radius(5px);
			width: 120px;
			margin: auto;
			display: block;
			text-decoration: none;
			text-align: center;
			padding: 8px 10px 11px 8px;
			margin-bottom: 65px;
		}
	}
}
#footer{
	position: relative;
	width: 100%;
	background: url(../images/thbg.png) repeat top left;
	.f-wrapp{
		position: relative;
		width: $min-width;
		height: 133px;
		margin: auto;
		.info{
			position: absolute;
			color: #fff;
			text-decoration: none;
			font:{
				weight: 900;
				size: 14px;
			}
			top: 43px;
			line-height: 1.7;
			& span{
				color: #b1b1b1;
				display: block;
				letter-spacing: -0.4px;
			}
			&.mail{
				left: 0;
			}
			&.fax{
				left: 217px;
			}
			&.wholesale{
				left: 387px;
			}
			&.retail{
				left: 550px;
			}
		}
		.socials{
				right: 0;
				position: absolute;
				top: 49px;
				ul.soc-list{
					margin: 0;
					padding: 0;
					list-style: none;
					li.soc-item{
						float: left;
						margin-right: 19px;
						a{
							width: 35px;
							height: 35px;
							display: block;
							&:hover{
								background-position: center top !important;
							}
						}
						&.last{
							margin-right: 0;
						}
					}
				}
			}
	}
}